.dropdown:hover>.dropdown-menu {
  display: block;
}
.headline{
  display: block;
  margin-top: 50px;
  font: 40px arial;
  text-align: center;
  color: white;
  background-color: gray;
}
.maintext{
  margin-left: 10px;
}
.footer{
  display: block;
  background-color: gray;
  text-align: center;
  margin-bottom: 10px;
